.main-details {
    padding: 10% 1%;
}

.section-details {
    margin: 10%;
}

iframe {
    width: 100%;
    height: 100%;
}

.redes ul {
    justify-content: center;
    padding: 10%;

    i {
        color: #9f3647;
        font-size: xx-large;

        &:hover {
            color: black;
        }
    }
}

td,
th {
    color: white;
    text-align: center;
}

@media screen and (max-width:500px) {
    .redes ul {
        padding: 20% 0%;
    }
}